body{
    background: #f8f8f8;
}
.registerbox {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;

    .login-navbar {
        width: 100%;
        border-bottom: none;
        height: .505rem;
        color: #fff;
        background: #df2d2d;
        border-bottom: 1px solid #bc1d1d;
        position: relative;
        display: flex;

        .nav-wrap-left {
            width: .505rem;
            height: .505rem;
            line-height: .505rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .loginback {
                font-size: .4rem;
                font-family: '宋体';
                color: #fff;
            }
        }

        .nav-header {
            flex: 1;
            font-size: .18rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 100;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .setregister {
        width: 100%;
        height: .404rem;
        padding: 0 .1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        .account{
            flex: 1;
            height: .404rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .16rem;
            font-weight: 100;
            color: #333;

            .registercontent{
                height: .404rem;
                line-height: .404rem;
                display: flex;
                align-items: center;
            }
        }

        .active-border {
            border-bottom: .04rem solid #FFC300;
        }
    }

    .normal-register-form {
        width: 100%;
        height: 1.31rem;
        margin-top: .04rem;

        .register-list {
            width: 100%;
            height: .87rem;
            display: flex;
            background: #fff;
            .visibale {
                flex: 1;
                padding-left: .1rem;

                .username {
                    width: 100%;
                    height: .435rem;
                    display: flex;
                    
                    align-items: center;
                    #inp-username {
                        border: 0;
                        width:95%;
                        height: .335rem;
                        font-size: .15rem;
                        padding: 0;
                        border-radius: .03rem;
                        padding-left: .1rem;
                    }
                    #inp-username:hover{
                        background: #f0f0f0;
                    }
                }

                .password {
                    width: 100%;
                    height: .435rem;
                    #inp-password {
                        border: 0;
                        width: 95%;
                        height: .335rem;
                        font-size: .15rem;
                        border-radius: .03rem;
                        padding: 0;
                        padding-left: .1rem;
                    }
                    #inp-password:hover{
                        background: #f0f0f0;
                    }
                }


            }

        }

        .btn-wrapper{
            width: 100%;
            height: .6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .register-btn{
                border: none;
                width: 3rem;
                height: .3rem;
                color: #fff;
                background: #df2d2d;
                border-radius: .03rem;
            }
        }

        .login-subline{
            padding:0 .1rem;
            height: .28rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                color: #FE8C00;
                font-size: .13rem;
            }

        }

        .kefu{
            width: 100%;
            height: .34rem;
            display: flex;
            justify-content:center;
            align-items: center;
            a{
                color: #df2d2d;
            }
        }
    }


}